html,
body {
  background-color: rgb(24, 24, 24);
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./images/home-bg.png");
  background-size: cover;
}

@font-face {
  font-family: Oddval;
  src: url("./fonts/Fontspring-DEMO-oddval-bold-BF640a8b02262ad.otf");
}

.cont-space {
  padding-top: 5%;
}

.appear {
  animation: appear 2s ease-in;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.large {
  font-size: 38px;
  font-family: Oddval !important;
}

/* HEADER */

@import '~bootstrap/dist/css/bootstrap.css';

.navbar {
  background-color: rgb(10, 10, 10) !important;
  box-shadow: 1px -8px 20px 0px rgba(219, 219, 219, 0.349);
}

.nav-link {
  cursor: pointer !important;
}

.navbar-brand {
  margin-right: 14.5rem;
}

a {
  color: white !important;
  text-decoration: none
}

a:hover {
    text-shadow: -1px 1px 2px rgba(255, 255, 255, 0.466);
    text-decoration: none
}

#genieMode {
  background-image: url("./images/bg-text.png");
  background-size: 220%;
  background-repeat: repeat;
  transition: background-position 0.5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 1px rgba(175, 175, 175, 0.281);
  animation: animateGradient 10s ease-in-out infinite;
}

@keyframes animateGradient {
  0% {
    background-position: 0% 25%;
  }
  25% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 0% 75%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 75%;
  }
}

#logo {
  max-width: 40px;
}

.navbar-toggler-icon {
  color: black !important;
}

/* END HEADER */

/* INTRO CONTAINER */

.hero {
  display: flex;
  width: 95%;
}

.welcome-info {
  margin: auto;
  display: block;
  margin-top: 150px;
  margin-left: 80px;
  width: 45%;
}

.bold-intro {
  font-size: 54px;
  color: white;
  font-family: Oddval;
  text-shadow: -2px 3px 4px rgba(53, 36, 151, 0.486),
  2px 2px 4px rgba(250, 250, 250, 0.438);
}

@media only screen and (max-width:900px) {
  .bold-intro {
    font-size: 30px;
  }
  .description {
    font-size: 12px;
  }
  .welcome-info {
    width: 80%;
    text-align: center;
  }
  .btn-options {
    display: inherit !important;
    margin: auto;
  }
}

.description {
  margin-top: 20px;
  font-size: 16px;
  color: white;
  font-family: Oddval;
  text-shadow: -1px 2px 2px rgb(53, 36, 151),
  1px 1px 2px rgba(250, 250, 250, 0.438),
  -3px 2px 2px rgb(2, 2, 2);
}

.btn-options {
  display: flex;
  justify-content:space-evenly;
  width: 75%;
}

.low-opacity {
  opacity: 0.4;
  margin: auto;
  display: block;
}

.left {
  margin: inherit !important;
  left: 5%;
  font-family: Oddval;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.452);
}

.card {
  width: 30%;
  margin-top: 100px;
  bottom: 0;
  height: 450px;
  border-radius: 20px;
  border: none;
  box-shadow: -1px 1px 15px rgba(212, 37, 212, 0.486);
 }

 @media only screen and (max-width:1000px) {
  .card {
    display: none;
  }
}

.input {
  margin: auto;
  margin-top: 50px;
  display: block;
  background: none;
  border: none;
  outline: none;
  max-width: 190px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: #fff;
}

.or {
  margin-top: 20px;
}

.flashy-btn {
  margin: auto;
  top: 45px;
  display: block;
  width: 140px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(17, 17, 17);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.452);
}

.flashy-btn:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.flashy-btn:active {
  color: #000
}

.flashy-btn:active:after {
  background: transparent;
}

.flashy-btn:hover:before {
  opacity: 1;
}

.flashy-btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* END INTRO CONTAINER */

/* LOGIN PAGE */

.large-container-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-cont {
    display: block;
    margin: auto;
    text-align: center;
    height: 500px;
    width: 400px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px rgba(132, 50, 143, 0.452),
    4px 0px 20px rgba(160, 160, 160, 0.295);
    border-radius: 12px;
}

.login-cont h2 {
  font-family: Oddval;
    color: white;
    transform: translateY(30px);
    font-size: 26px;
}

.enter-cred {
    margin: 12px;
}

.cred-input {
    border-radius: 10px;
    border-color: transparent;
    background-color: transparent;
    backdrop-filter: blur(5px);
    box-shadow: inset 2px 5px 10px rgba(216, 216, 216, 0.349);
    margin-top: 35px;
    padding: 20px;
    color: white;
    font-size: 16px;
}

.labels {
  margin-top: 15%;
}

.log-btns {
  display: block;
  margin: auto;
}

#btn-space {
  margin-top: 12px;
}

.submit {
    margin-top: 10px;
    border-radius: 10px;
    border-color: transparent ;
    padding: 7px;
    font-size: 16px;
    font-weight: 500;
    background-color: gold;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.384);
    color: rgb(255, 255, 255);
}

.or {
    transform: translateY(40px);
    color: white;
}

.login-option {
    margin-top: 25px;
    font-size: 16px;
}

/* END LOGIN */

/* SEARCH BAR */

.search-cont {
  margin-top: 100px;
  text-align: center;
}

.search-cont > h1 {
  color: white;
  font-size: 42px;
  margin: 10px;
}

.searchbar {
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border-color: transparent;
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.856);
}

/* END SEARCH BAR */

/* PROFILE */

.profile-container {
  text-align: center;
  margin-top: 40px;
}

.profile-container h1 {
  margin-top: 24px;
  color: white;
  font-family: Oddval;
}

.profile-bg {
  height: 400px;
  background-color: white;
}

.profile-info {
  margin-top: 120px;
  height: 500px;
  background-color: rgb(49, 49, 49);
  box-shadow: inset -2px -1px 20px 0px #000000b7;
  border-radius: 20px;
}

.profile-img {
  max-width: 200px;
  height: 200px;
  border-radius: 100%;
  transform: translateY(-75px);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.753);
}

.username {
  font-size: 22px;
}

.user-details {
  margin-top: -30px;
  color: white;
  font-size: 18px;
  padding-bottom: 30px;
}

hr {
  background-color: white;
  width: 30%;
  height: 0.1px;
  margin: auto;
}

.user-answers {
  padding-bottom: 30px;
  color: white;
}

.user-answers > h3 {
  text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.432);
}

/* Thought List */

.question-card {
  background-color: black;
}

.card-title {
  background-color: rgb(24, 24, 24);
  border-bottom: 1px solid white;
  color: white;
}

.form-dark {
  background-color: rgb(24, 24, 24);
  color: white;
  height: 30px;
}

/* GENIE MODE */

.genie-ask {
  text-align: center;
  margin-top: 10%;
}

.genie-ask > h2 {
  color: white;
  font-family: Oddval;
}

  .glowing {
    background-image: linear-gradient(
      to right,
      purple,
      rgb(196, 196, 2),
      red,
      rgb(90, 68, 216),
      gold,
      blue
    );
    background-size: 220%;
    background-repeat: repeat;
    transition: background-position 0.5s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.301);
    animation: animateGradient 5s ease-in-out infinite;
  }
  
  @keyframes animateGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .ask-q {
    margin-top: 20px;
    width: 40%;
    height: 40px;
    border-radius: 10px;
    border-color: transparent;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.856);
  }


  .token-icon {
    max-width: 30px;
    height: 25px;
    margin-left: 10px;
  }

  .small-text {
    margin-top: 55px;
    color: white;
    text-align: center;
    font-size: 10px;
  }

  /* Ask Question */

  .top-pad {
    margin-top: 10%;
  }

  .type-white {
    color: white;
    text-align: center;
    margin-top: 15px;
  }

  .question-ask {
    display: block;
    margin: auto;
  }

  .ask-input {
    width: 60%;
    height: 80px;
    border-radius: 10px;
    font-size: 14px;
    margin: auto;
    margin-top: 50px;
    display: block;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.452),
    inset -1px 2px 8px 1px rgba(0, 0, 0, 0.288);
  }

  .not-logged {
    color: white;
    font-family: Oddval;
    text-align: center;
    margin-top: 40px;
    text-shadow: -2px 2px 3px rgba(182, 26, 182, 0.89);
  }

  /* Single Question */

  .single-question {
    background-color: rgb(24, 24, 24);
    border-radius: 20px !important;

  }

  .question-block {
    background-color: rgb(34, 34, 34);
    color: white;
    height: 60px;
    padding-left: 5px;
  }

  .created-by {
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 5px;
  }

  .comment-list {
    color: white;
    text-align: center;
  }

  .comment-input {
    width: 60%;
    height: 80px;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 50px;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.452),
    inset -1px 2px 8px 1px rgba(0, 0, 0, 0.075);
  }

  .align {
    text-align: left !important;
  }

  .under {
    margin: 0 !important;
    margin-top: -8% !important;
  }

  .card {
    position: relative;
    left: 325px;
    width: 500px;
    background-color: #fff;
    
      /* Set the border image to a linear gradient */
      border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 1;
      
      /* Set the width of the border */
      border-width: 40px;
      
      /* Add the animation to the border */
      animation: animateBorder 10s ease-in-out infinite;
    }
    
    @keyframes animateBorder {
      /* Define the keyframes for the animation */
      0% {
        border-image-slice: 1;
        border-image-position: 0% 50%;
      }
      
      50% {
        border-image-slice: 1;
        border-image-position: 100% 50%;
      }
      
      100% {
        border-image-slice: 1;
        border-image-position: 0% 50%;
      }
    }
    
  
  .chat-header {
    background-color: #040200;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .chat-window {
    height: 220px;
    overflow-y: scroll;
  }
  
  .message-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .message-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
  }
  
  .send-button {
    border: none;
    outline: none;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  }
 