html,
body {
  background-color: rgb(24, 24, 24);
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./images/home-bg.png");
  background-size: cover;
}

@font-face {
  font-family: Oddval;
  src: url("./fonts/Fontspring-DEMO-oddval-bold-BF640a8b02262ad.otf");
}

.cont-space {
  padding-top: 5%;
}

.appear {
  animation: appear 2s ease-in;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.large {
  font-size: 38px;
  font-family: Oddval !important;
}

/* HEADER */

@import '~bootstrap/dist/css/bootstrap.css';

.navbar {
  background-color: rgb(10, 10, 10) !important;
  box-shadow: 1px -8px 20px 0px rgba(219, 219, 219, 0.349);
}

.nav-link {
  cursor: pointer !important;
}

.navbar-brand {
  margin-right: 14.5rem;
}

a {
  color: white !important;
  text-decoration: none
}

a:hover {
    text-shadow: -1px 1px 2px rgba(255, 255, 255, 0.466);
    text-decoration: none
}

#genieMode {
  background-image: url("./images/bg-text.png");
  background-size: 220%;
  background-repeat: repeat;
  transition: background-position 0.5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 1px rgba(175, 175, 175, 0.281);
  animation: animateGradient 10s ease-in-out infinite;
}

@keyframes animateGradient {
  0% {
    background-position: 0% 25%;
  }
  25% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 0% 75%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 75%;
  }
}

#logo {
  max-width: 40px;
}

.navbar-toggler-icon {
  color: black !important;
}

/* END HEADER */

/* INTRO CONTAINER */

.hero {
  display: flex;
  width: 95%;
}

.welcome-info {
  margin: auto;
  display: block;
  margin-top: 150px;
  margin-left: 80px;
  width: 45%;
}

.bold-intro {
  font-size: 54px;
  color: white;
  font-family: Oddval;
  text-shadow: -2px 3px 4px rgba(53, 36, 151, 0.486),
  2px 2px 4px rgba(250, 250, 250, 0.438);
}

@media only screen and (max-width:1000px) {
  .bold-intro {
    font-size: 30px;
  }
  .description {
    font-size: 12px;
  }
  .welcome-info {
    display: block !important;
    margin: auto !important;
    padding-top: 30%;
    width: 80%;
    text-align: center;
    margin-left: 0;
  }
  .btn-options {
    display: inherit !important;
    margin: auto;
  }
  .flashy-btn {
    display: inherit !important;
  }
  .or {
    display: inherit !important;
  }
  .left {
    left: 0%  !important;
  }
}

.description {
  margin-top: 20px;
  font-size: 16px;
  color: white;
  font-family: Oddval;
  text-shadow: -1px 2px 2px rgb(53, 36, 151),
  1px 1px 2px rgba(250, 250, 250, 0.438),
  -3px 2px 2px rgb(2, 2, 2);
}

.btn-options {
  display: flex;
  justify-content:space-evenly;
  width: 75%;
}

.low-opacity {
  opacity: 0.4;
  margin: auto;
  display: block;
}

.left {
  margin: inherit !important;
  left: 5%;
  font-family: Oddval;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.452);
}


.card {
  margin-top: 70px;
  right: 10%;
  bottom: 0;
  height: 550px;
  border-radius: 20px;
  border: none;
  background-color: transparent;
 }

 @media only screen and (max-width:1000px) {
  .card {
    display: none;
  }
}

.input {
  margin: auto;
  margin-top: 50px;
  display: block;
  background: none;
  border: none;
  outline: none;
  max-width: 190px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: #fff;
}

.or {
  margin-top: 20px;
}

.flashy-btn {
  margin: auto;
  top: 45px;
  display: block;
  width: 140px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(17, 17, 17);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.452);
}

.flashy-btn:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.flashy-btn:active {
  color: #000
}

.flashy-btn:active:after {
  background: transparent;
}

.flashy-btn:hover:before {
  opacity: 1;
}

.flashy-btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* END INTRO CONTAINER */

/* LOGIN PAGE */

.large-container-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-cont {
  display: block;
  margin: auto;
  text-align: center;
  height: 500px;
  width: 400px;
  background-color: transparent;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  box-shadow: -2px 15px 20px rgba(132, 50, 143, 0.452), 
  -2px 10px 20px rgba(236, 236, 236, 0.295);
  border-radius: 12px;
}

.login-cont h2 {
  font-family: Oddval;
    color: white;
    transform: translateY(30px);
    font-size: 26px;
}

.enter-cred {
    margin: 12px;
}

.cred-input {
  border-radius: 10px;
  border-color: transparent;
  background-color: #ffffff12;
  box-shadow: inset 1px 1px 10px rgba(216, 216, 216, 0.349);
  margin-top: 35px;
  padding: 20px;
  color: white;
  font-size: 16px;
}

.labels {
  margin-top: 15%;
}

.log-btns {
  display: block;
  margin: auto;
}

#btn-space {
  margin-top: 12px;
}

.submit {
    margin-top: 10px;
    border-radius: 10px;
    border-color: transparent ;
    padding: 7px;
    font-size: 16px;
    font-weight: 500;
    background-color: gold;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.384);
    color: rgb(255, 255, 255);
}

.or {
    transform: translateY(40px);
    color: white;
}

.login-option {
    margin-top: 25px;
    font-size: 16px;
}

/* END LOGIN */

/* SEARCH BAR */

.search-cont {
  margin-top: 100px;
  text-align: center;
}

.search-cont > h1 {
  color: white;
  font-size: 42px;
  margin: 10px;
  font-family: Oddval;
}

.searchbar {
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border-color: transparent;
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.856);
}
.question {
  color: white;
}

.question-list{
  list-style: none;
  margin: 20px;
}

/* END SEARCH BAR */

/* PROFILE */

.profile-container {
  text-align: center;
  margin-top: 40px;
}

.profile-container h1 {
  margin-top: 24px;
  color: white;
  font-family: Oddval;
}

.profile-info {
  margin-top: 120px;
  background-color: transparent;
  backdrop-filter: blur(3px);
  box-shadow: 0px 0px 10px rgba(189, 52, 159, 0.658);
  border: 1px solid rgba(255, 255, 255, 0.377);
  border-radius: 20px;
}

.profile-img {
  max-width: 200px;
  height: 200px;
  border-radius: 100%;
  transform: translateY(-75px);
  box-shadow: 0px 0px 10px rgba(219, 219, 219, 0.753);
}

.username {
  font-size: 22px;
}

.user-details {
  margin-top: -30px;
  color: white;
  font-size: 18px;
  padding-bottom: 30px;
}

hr {
  background-color: white;
  width: 30%;
  height: 0.1px;
  margin: auto;
}

.user-answers {
  padding-bottom: 30px;
  color: white;
}

.user-answers > h3 {
  text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.432);
}

/* Thought List */

.question-card {
  background-color: black;
  margin: auto;
  display: block;
}

.card-title {
  background-color: rgb(24, 24, 24);
  border-bottom: 1px solid white;
  color: white;
}

.form-dark {
  background-color: rgb(24, 24, 24);
  color: white;
  height: 30px;
}

.post-preview {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.recently-answered {
  display: flex;
}

.right {
  padding-left:20px ;
}

.recent-question-body {
  padding-left: 20px;
}

.post-preview > h4 {
  font-size: 22px !important;
  color: white;
  font-weight: bold;
}

.view-post {
  margin-left: 20px;
  text-decoration: underline;
}

/* GENIE MODE */

.genie-ask {
  text-align: center;
  margin-top: 10%;
}

.genie-ask > h2 {
  color: white;
  font-family: Oddval;
}

  .glowing {
    background-image: linear-gradient(
      to right,
      purple,
      rgb(196, 196, 2),
      red,
      rgb(90, 68, 216),
      gold,
      blue
    );
    background-size: 220%;
    background-repeat: repeat;
    transition: background-position 0.5s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.301);
    animation: animateGradient 5s ease-in-out infinite;
  }
  
  @keyframes animateGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .ask-q {
    margin-top: 20px;
    width: 40%;
    height: 40px;
    border-radius: 10px;
    border-color: transparent;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.856);
  }


  .token-icon {
    max-width: 30px;
    height: 25px;
    margin-left: 10px;
  }

  .small-text {
    margin-top: 55px;
    color: white;
    text-align: center;
    font-size: 10px;
  }

  .lamp-btn {
    margin: auto;
    top: 45px;
    display: block;
    width: 140px;
    height: 50px;
    overflow:hidden;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(17, 17, 17);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.452);
  }

  .lamp-btn:hover {
    background: rgb(209, 179, 9);
    color: black;
    transition: 0.5s;
  }

  .lamp-btn:after{
    content: '';
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }

  .lamp-btn:hover::after, button:focus::after {
    animation: lamp-btn 1s forwards;
  }
  @keyframes lamp-btn {
    100% {
      transform: rotateZ(60deg) translate(1em, -9em);
    }
  }
  
  button:active{
    box-shadow:0px 0px 0px white;
    -webkit-box-shadow: inset -2px 2px 2px #ccc;
    -moz-box-shadow:    inset -2px 2px 2px #ccc;
    box-shadow:         inset -2px 2px 2px #ccc;
    transform:translate(0, 2px);
    color:#fff491;
  }
  button:focus{
    outline:0;
  }

  .response {
    color: white;
    display: block;
    padding-top: 3%;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}

  .code {
    background-color: black;
  }

  .genie-response {
    display: none;
    color: white;
    text-align: center;
    height: 200px;
    width: 50%;
    margin: auto;
}

.genie-response.loaded {
  display: inherit;
  backdrop-filter: blur(30px);
  border-radius: 20px;
}

  .genie-history {
    display: block;
  }

  /* Ask Question */

  .top-pad {
    margin-top: 10%;
  }

  .type-white {
    color: white;
    text-align: center;
    margin-top: 15px;
  }

  .question-ask {
    display: block;
    margin: auto;
  }

  .ask-input {
    width: 60%;
    height: 80px;
    border-radius: 10px;
    font-size: 14px;
    margin: auto;
    margin-top: 50px;
    display: block;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.452),
    inset -1px 2px 8px 1px rgba(0, 0, 0, 0.288);
  }

  .not-logged {
    color: white;
    font-family: Oddval;
    text-align: center;
    margin-top: 40px;
    text-shadow: -2px 2px 3px rgba(182, 26, 182, 0.89);
  }

  /* Single Question */

  .single-question {
    background-color: rgb(24, 24, 24);
    border-radius: 20px !important;

  }

  .question-block {
    background-color: rgb(34, 34, 34);
    color: white;
    height: 60px;
    padding-left: 5px;
  }

  .created-by {
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 5px;
  }

  .comment-list {
    color: white;
    text-align: center;
  }

  .comment-input {
    width: 60%;
    height: 80px;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 50px;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.452),
    inset -1px 2px 8px 1px rgba(0, 0, 0, 0.075);
  }

  .align {
    text-align: left !important;
  }

  .under {
    margin: 0 !important;
    margin-top: -8% !important;
  }

  /* LOADER */

  .spinner {
    display: block;
    margin: auto;
    margin-top: 40px;
    background-image: linear-gradient(rgb(125, 35, 177) 30%,rgb(0, 174, 255));
    width: 50px;
    height: 50px;
    animation: spinning 1.7s linear infinite;
    text-align: center;
    border-radius: 50px;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px rgb(145, 17, 219), 0px 5px 20px 0px rgb(0, 153, 255);
  }
  
  .spinner1 {
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    filter: blur(10px);
  }
  
  @keyframes spinning {
    to {
      transform: rotate(360deg);
    }
  }