html,
body {
  background-color: rgb(245, 245, 245);
  width: 100%;
}

/* HEADER */

.navbar {
  background-color: white !important;
  box-shadow: 1px -8px 20px 0px rgba(0, 0, 0, 0.295);
}

.navbar-brand {
  margin-right: 14.5rem;
}

a {
  color: black !important;
}

a:hover {
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.26);
}

#genieMode {
  background-image: linear-gradient(
    to right,
    red,
    rgb(196, 196, 2),
    purple,
    rgb(90, 68, 216),
    gold,
    blue
  );
  background-size: 220%;
  background-repeat: repeat;
  transition: background-position 0.5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.301);
  animation: animateGradient 5s ease-in-out infinite;
}

@keyframes animateGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#logo {
  max-width: 40px;
}

.navbar-toggler-icon {
  color: black !important;
}

/* END HEADER */

/* INTRO CONTAINER */

.container {
  margin-top: 60px;
  height: 600px;
  border: 1px solid black;
  border-radius: 8px;
  width: auto;
}

.input {
  border: none;
  outline: none;
  border-radius: 15px;
  width: 400px;
  padding: 1em;
  background-color: rgb(241, 241, 241);
  box-shadow: inset 2px 5px 10px rgba(41, 40, 40, 0.3);
  transition: 300ms ease-in-out;
}

.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff;
}

.or {
  margin-top: 20px;
}

.login {
  display: block;
  margin: auto;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 15px;
  border: 1px solid #8f9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

.login:hover {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
}

.login:active {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.login:focus {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

/* END INTRO CONTAINER */

/* LOGIN PAGE */

/* .large-container-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.login-cont {
    display: block;
    margin: auto;
    height: 500px;
    width: 700px;
    background: linear-gradient(90deg, rgba(255,182,29,1) 0%, rgba(255,231,28,1) 100%);
    box-shadow: -4px 3px 20px rgba(0, 0, 0, 0.342),
    5px 5px 20px gold;
    border-radius: 12px;
    backdrop-filter: blur(10px);
}

.login-cont > h2 {
    color: white;
}

.enter-cred {
    margin: 12px;
}

.cred-input {
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.384);
    margin-top: 8px;
    padding: 10px;
}

.submit {
    margin-top: 10px;
    border-radius: 10px;
    border-color: transparent ;
    padding: 7px;
    font-size: 16px;
    font-weight: 500;
    background-color: gold;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.384);
    color: rgb(255, 255, 255);
}

.or {
    font-weight: 700;
}

.login-option {
    margin-top: 25px;
    font-size: 16px;
}